#signature {
    width: 800px;
    height: 800px;
    background-color: white;
    display: flex;
}

button {
    width: 264px;
    height: 70px;
    font-size: 3em;
    text-align: center;
}

button:hover{
    background-color: #98bafa;
}