body {
    background-color: #282c34;
    color: #c7c7c7;
    border-color: #e2e2e2;
    font-family: sans-serif;
}

a {
    color: #009dff;
}

a:visited {
    color: #ae3fff;
}

button,
input {
    border: none;
    color: #282c34;
    border-radius: 0.2em/0.2em;
    padding: 1px 4px;
    margin-bottom: 2px;
    box-sizing: border-box;
}
